body{
    margin:0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}
input{
    width: 100%;
    padding:10px;
    box-sizing: border-box;
    color: #a871e6e5;
    border: 1px solid  #a871e6e5;;
    margin-bottom: 4px;
}
button{
    color: white;
    background-color:  #a871e6e5;
   
    padding: 10px 20px;
    border:1px solid #a871e6e5;
    border: none;
    font-weight: bold;
}
#input-btn{
    border:1px solid  #a871e6e5;

}

#delete-btn{
    color:  #a871e6e5;
    background-color: white;
    border:1px solid #a871e6e5;


}
ul{
    margin-top: 20px;
   list-style-type: none;
    padding-left: 0px;
}
li{
  margin-top: 5px;
}
a{
    color:  #a871e6e5;
    text-decoration: none;
}